/* Global (mobile first) */

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > * {
    width: 100%;
    padding: 0 clamp(0.5rem, 3vw, 2rem);
}

body > header > * {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

nav a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
}

h1, h2, h3, h4 {
    margin: 1em 0;
}

h1 {
    padding: 0 clamp(0rem, 3vw - 0.5rem, 2rem);
}

body > main {
    max-width: 64rem;
    margin: 0 auto;
    padding: 1rem clamp(0.5rem, 6vw - 0.5rem, 4rem);
}

main aside {
    padding: 0 1rem;
}

/* Responsive (mobile only) */

@media (max-width: 600px) {
    .mobile-hide {
        display: none;
    }
}
