/* Global (mobile first) */

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > * {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
}

h1, h2, h3, h4 {
    margin: 1em 0;
}

body > main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main aside {
    padding: 0 1rem;
}

/* Responsive (mobile only) */

@media (max-width: 599px) {
    .mobile-hide {
        display: none;
    }
}

/* Responsive (landscape screens) */

@media (min-width: 600px) {
    nav ul {
        justify-content: space-around;
    }

    nav li {
        flex: 1;
        text-align: center;
    }

    nav a {
        width: 100%;
    }

    h1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    body > main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Responsive (desktop/wide screens) */

@media (min-width: 900px) {
    body > * {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    body > header > * {
        max-width: 76rem;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    body > main {
        max-width: 60rem;
        margin: 0 auto;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
