/* Global layout */

:root {
    --clr-bg: white;
    --clr-bg-cap: #e1e8e2;
    --clr-bg-accent: wheat;
    --clr-text: #1a1a1d;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--clr-text);
    font-family: sans-serif;
    background-color: var(--clr-bg);
}

.content-column {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

header.content-column {
    border-bottom: 4px #888 solid;
    background-color: var(--clr-bg-cap);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

nav a {
    color: #333;
    text-decoration: none;
    border: 1px black solid;
    background-color: var(--clr-bg-accent);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: lightblue;
}

h1, h2, h3, h4 {
    font-family: monospace;
    margin: 1em 0;
}

@media (max-width: 599px) {
    .mobile-hide {
        display: none;
    }
}

@media (min-width: 600px) {
    nav ul {
        justify-content: space-around;
    }

    nav li {
        flex: 1;
        text-align: center;
    }

    nav a {
        width: 100%;
    }
    
    h1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main.content-column {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 900px) {
    .content-column {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    nav ul {
        gap: 1rem;
    }

    h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    main.content-column {
        max-width: 60rem;
        margin: 0 auto;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* Body content */

main.content-column {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main aside {
    background-color: #db8b5d;
    padding: 0 1rem;
    border: 1px #b1704a solid;
    border-radius: 1rem;
}

.tagline {
    font-style: italic;
    font-weight: bold;
}

main article {
    border-bottom: 1px #444 solid;
}

footer.content-column {
    border-top: 1px #888 solid;
    background-color: var(--clr-bg-cap);
    color: #444;
    font-style: italic;
    font-size: 0.9em;
}
